.balloon_list
  .balloon
    .balloon_left
      .balloon_avatar
      .balloon_body
        ゆうしゃロトの ちをひくものよ！
        そなたのくるのをまっておったぞ。
  .balloon_separator
  .balloon
    .balloon_right
      .balloon_avatar
      .balloon_body
        ああ！ たとえ はなれて いても
        ローラは いつも あなたと
        ともに あります。
