.avatar_with_balloon
  .left
    .avatar
    .balloon
      ああああああああああああ
      いいいあああああああああ
      うううあああああああああ

.avatar_with_balloon
  .right
    .avatar
    .balloon
      ああああああああああああ
      いいいあああああああああ
      うううあああああああああ
