// 吹き出し
// 
//  +---+   +---------------------------------+
//  |   |  <  ゆうしゃロトの ちをひくものよ！ |
//  |   |   | そなたのくるのをまっておったぞ。|
//  +---+   +---------------------------------+
//  +-------------------------------+    +---+ 
//  | ああ！ たとえ はなれて いても  >   |   | 
//  | ローラは いつも あなたと      |    |   |
//  | ともに あります。             |    +---+ 
//  +-------------------------------+    
//
//  HAML 記述例
//  
//   .balloon_list
//     .balloon
//       .balloon_left
//         .balloon_avatar
//         .balloon_body
//           ゆうしゃロトの ちをひくものよ！
//           そなたのくるのをまっておったぞ。
//     .balloon_separator
//     .balloon
//       .balloon_right
//         .balloon_avatar
//         .balloon_body
//           ああ！ たとえ はなれて いても
//           ローラは いつも あなたと
//           ともに あります。

$balloon_triangle_use: true            // 吹き出しの尻尾を表示するか？
  
$balloon_body_backround: #282828       // 吹き出し背景
$balloon_body_color: #fff              // 吹き出しテキスト色
$balloon_body_border: #fff             // 吹き出しボーダー色
$balloon_body_width: 250px             // 吹き出し幅
$balloon_triangle_slide_v: 12px        // △の上からの位置
$balloon_triangle_slide_h: 15px        // △の横からの位置($balloon_triangle_width の値によって微調整が必要)
$balloon_triangle_width: 3             // △のボーダーサイズ(本来1pxのはずだけど斜めにすると0.5pxぐらい細くなってしまうため太めにする)
$balloon_triangle_border_tb_size: 4px  // △の形状上下(小さくすると横長になる)
$balloon_triangle_border_lr_size: 9px  // △の形状左右(大きくすると横長になる)
$balloon_with_avatar_margin: 16px      // アバターと吹き出しの隙間(△の幅以上にする)

@import "compass/css3/border-radius"
@import "compass/utilities/general/clearfix"

@mixin balloon_align($left, $right)
  .balloon_avatar, .balloon_body
    float: $left
  .balloon_body
    margin-#{$left}: $balloon_with_avatar_margin
  .balloon_body:before
    #{$left}: -($balloon_triangle_slide_h + $balloon_triangle_width)
    border-#{$right}: $balloon_triangle_border_lr_size solid $balloon_body_border
  .balloon_body:after
    #{$left}: -$balloon_triangle_slide_h
    border-#{$right}: $balloon_triangle_border_lr_size solid $balloon_body_backround

.balloon_list
  text-align: center
  
  .balloon
    margin: 5px auto
    display: inline-block

    .balloon_avatar
      width: 48px
      height: 64px
      background: blue
      @include border-radius(3px)

    .balloon_body
      position: relative
      text-align: left
      font-size: 12px
      color: $balloon_body_color
      padding: 8px
      width: $balloon_body_width
      border: 1px solid $balloon_body_border
      background: $balloon_body_backround
      @include border-radius(8px)

    @if $balloon_triangle_use
      .balloon_body:before, .balloon_body:after
        position: absolute
        display: block
        content: ""
        top: $balloon_triangle_slide_v
        border-top:    $balloon_triangle_border_tb_size solid
        border-left:   $balloon_triangle_border_lr_size solid
        border-right:  $balloon_triangle_border_lr_size solid
        border-bottom: $balloon_triangle_border_tb_size solid
        border-color: transparent

    .balloon_left
      @include balloon_align(left, right)

    .balloon_right
      @include balloon_align(right, left)
        
  .balloon_separator
    @include clearfix
